<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace|Debug|Info|Warn|Error|Fatal"    
      internalLogFile="file.txt"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
>
    <targets>
        <target xsi:type="File" 
                name="f" 
                fileName="${specialfolder:folder=LocalApplicationData}/WorkspaceManager/logs/${shortdate}.log"
                layout="${longdate} ${logger} ${uppercase:${level}} ${message}${exception:format=ToString}" 
                keepFileOpen="true" 
                encoding="utf-8" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
</nlog>